include examples/*
include src/datasets/*
include src/datasets/identity_card/*
include src/datasets/driving_license/*
include src/ThaiPersonalCardExtract/datasets/*
include src/ThaiPersonalCardExtract/datasets/identity_card/*
include src/ThaiPersonalCardExtract/datasets/driving_license/*
include LICENSE.txt
include README.md
include requirements.txt